# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

##### .lstrip(), .rstrip(), .strip()

In [3]:
# .lstrip() removes whitespace from the left/front of a string
name = " Steve"
print(name)
name = name.lstrip()
print(name)

 Steve
Steve

In [4]:
# .rstrip() removes whitespace from the right/back of a string
name = "Alex "
print(name)
name = name.rstrip()
print(name)

Alex
Alex

In [7]:
# .strip() removes whitespace surrounding/front & back of a string
name = " Cheetor "
print(name)
name = name.strip()
print(name)

 Cheetor
Cheetor

##### Using 'in' keyword

In [15]:
# use in for any type of iterable: list, dictionary, string, tuple, set, and others
name = "Steve McTeague"
for letter in name:
    print(letter)

print("\n")
    
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in my_list:
    if num % 2 == 0:
        print(num, "Even")
    else:
        print(num, "Odd")

S
t
e
v
e

M
c
T
e
a
g
u
e


1 Odd
2 Even
3 Odd
4 Even
5 Odd
6 Even
7 Odd
8 Even
9 Odd
10 Even

##### Continue Statement

In [16]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in my_list:
    if num % 2 == 0:
        print(num, "Even")
    elif num == 5:
        continue
    else:
        print(num, "Odd")

1 Odd
2 Even
3 Odd
4 Even
6 Even
7 Odd
8 Even
9 Odd
10 Even

##### Break Statement

In [18]:
# will break out of current loop
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

counter = 0
while counter < len(my_list):
    if my_list[counter] % 2 == 0:
        print(my_list[counter], "even")
    elif my_list[counter] == 7:
        break
    else:
        print(my_list[counter], "odd")
    counter += 1

1 odd
2 even
3 odd
4 even
5 odd
6 even

In [21]:
#  while loop using x as a counter and as the index into the list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in range(len(my_list)):
    if my_list[i] % 2 == 0:
        print(my_list[i], "even")
    elif my_list[i] == 7:
        print("This is a 7 so we're breaking!")
    else:
        print(my_list[i], "odd")

1 odd
2 even
3 odd
4 even
5 odd
6 even
This is a 7 so we're breaking!
8 even
9 odd
10 even

In [19]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in my_list:
    if num % 2 == 0:
        print(num, "Even")
    elif num == 7:
        break
    else:
        print(num, "Odd")

1 Odd
2 Even
3 Odd
4 Even
5 Odd
6 Even

##### Pass Statement

In [22]:
# mostly used as a placeholder, and will continue on same iteration

for name in my_list:
    pass # Come back later to finish --- it will not break your code if not complete

##### Double For Loops

In [24]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list2 = [2, 6, 10, 14, 18]

for num in my_list:
    for num2 in my_list2:
        if num*2 == num2:
            print(num, num2)

1 2
3 6
5 10
7 14
9 18

### While Loops

In [26]:
# while keyword, condition for the while loop to run
names = ['Ryan', 'Alex', 'Dyonne', 'Steve', 'Raul', 'Katie']

index = 0

while index < len(names):
    print(names[index])
    index += 1

Ryan
Alex
Dyonne
Steve
Raul
Katie

##### looping 'While True'

In [29]:
names = ['Ryan', 'Alex', 'Dyonne', 'Steve', 'Raul', 'Katie']

flag = True
index = 0

while flag:
    print(names[index])
    if names[index] == "Dyonne":
        flag = False
    index += 1

Ryan
Alex
Dyonne

##### While & For Loops Used Together

In [31]:
names = ['Ryan', 'Alex', 'Dyonne', 'Steve', 'Raul', 'Katie']

index = 0

while index < len(names):
    print(names[index])
    for letter in names[index]:
        print(letter)
    index += 1

Ryan
R
y
a
n
Alex
A
l
e
x
Dyonne
D
y
o
n
n
e
Steve
S
t
e
v
e
Raul
R
a
u
l
Katie
K
a
t
i
e

##### The Range Function

In [32]:
# range: start, stop, step
# if only one parameter is provided it will default to stop
# goes up to but does not include stop number

for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

### String Manipulation Exercise

In [36]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# capitalise the first letter of each name and remove whitespace
# HINT: You will need to use a for loop for iteration

cleaned_names = []

for name in names:
    name = name.strip().title()
    cleaned_names.append(name)
    
print(cleaned_names)

['Connor', 'Max', 'Evan', 'Jordan']

## Lists

##### Declaring Lists

In [39]:
our_empty_list = [] # <-- empty list
our_list = [1, 2, 3, 4]

##### Indexing a List

In [45]:
names = ['Ryan', 'Alex', 'Dyonne', 'Steve', 'Raul', 'Katie']
print(names[3])

# print starting at an index and going to end of the list
print(names[2:])

# print my list in reverse
print(names[::-1])

# print from index 1 and go by 2s
print(names[1::2])

Steve
['Dyonne', 'Steve', 'Raul', 'Katie']
['Katie', 'Steve', 'Alex']
['Alex', 'Steve', 'Katie']

### List Methods

##### .append()

In [43]:
# append will always add to the back of the list
names = ['Ryan', 'Alex', 'Dyonne', 'Steve', 'Raul', 'Katie']

names.append("Teddie")

print(names)

['Ryan', 'Alex', 'Dyonne', 'Steve', 'Raul', 'Katie', 'Teddie']

##### .insert()

In [44]:
# insert will insert value into a list at the given index
names = ['Ryan', 'Alex', 'Dyonne', 'Steve', 'Raul', 'Katie']

names.insert(2, "Cassie")

print(names)

['Ryan', 'Alex', 'Cassie', 'Dyonne', 'Steve', 'Raul', 'Katie']

##### .pop()

In [50]:
# default is the ast value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable 

names = ['Ryan', 'Alex', 'Dyonne', 'Steve', 'Raul', 'Katie']

print(names)

name_removed = names.pop()
print(name_removed)

print(names)

name_removed = names.pop(1)
print(name_removed)

print(names)

['Ryan', 'Alex', 'Dyonne', 'Steve', 'Raul', 'Katie']
Katie
['Ryan', 'Alex', 'Dyonne', 'Steve', 'Raul']
Alex
['Ryan', 'Dyonne', 'Steve', 'Raul']

##### .remove()

In [53]:
# value to be removed, not an index

names = ['Ryan', 'Alex', 'Cassie', 'Cassie', 'Dyonne', 'Steve', 'Raul', 'Katie']
print(names)

for name in names:
    if name == 'Cassie':
        names.remove(name)
print(names)

['Ryan', 'Alex', 'Cassie', 'Cassie', 'Dyonne', 'Steve', 'Raul', 'Katie']
['Ryan', 'Alex', 'Cassie', 'Dyonne', 'Steve', 'Raul', 'Katie']

In [54]:
while "Cassie" in names:
    names.remove("Cassie")
print(names)

['Ryan', 'Alex', 'Dyonne', 'Steve', 'Raul', 'Katie']

### Working With Lists

##### del()

In [55]:
# index to be removed, not value 
# BE CAREFUL with del, can cause an indexing error if not used carefully

print(names)
del(names[0])

print(names)

['Ryan', 'Alex', 'Dyonne', 'Steve', 'Raul', 'Katie']
['Alex', 'Dyonne', 'Steve', 'Raul', 'Katie']

##### min()

In [60]:
num_list  = [5, 6, 3, 10, 22, 7]

smallest_num = min(num_list)
print(smallest_num)
print(min(num_list))

3
3

##### max()

In [59]:
num_list  = [5, 6, 3, 10, 22, 7]

biggest_num = max(num_list)
print(biggest_num)
print(max(num_list))

22
22

##### sum()

In [61]:
num_list  = [5, 6, 3, 10, 22, 7]

sum_list = sum(num_list)
print(sum_list)
print(sum(num_list))

53
53

##### sorted()

In [63]:
num_list  = [5, 6, 3, 10, 22, 7]

sorted_list = sorted(num_list)
print(sorted_list)
print(sorted(num_list))

[3, 5, 6, 7, 10, 22]
[3, 5, 6, 7, 10, 22]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [64]:
num_list  = [5, 6, 3, 10, 22, 7]

num_list.sort()
print(num_list)

[3, 5, 6, 7, 10, 22]

##### Copying a List

In [65]:
# [:] copies a list, doesn't alter original'
num_list  = [5, 6, 3, 10, 22, 7]

new_list = num_list[:]
print(new_list)

[5, 6, 3, 10, 22, 7]

##### Looping Through Lists

In [68]:
names = ['Ryan', 'Alex', 'Cassie', 'Cassie', 'Dyonne', 'Steve', 'Raul', 'Katie']

# two ways to loop through list

for name in names:
    print(name)
    
print("\n")
    
for i in range(len(names)):
    print(names[i])

Ryan
Alex
Cassie
Cassie
Dyonne
Steve
Raul
Katie


Ryan
Alex
Cassie
Cassie
Dyonne
Steve
Raul
Katie

##### 'in' keyword

In [70]:
# check if the input number's double is in the list provided
doubles = [1, 2, 5, 8, 6, 20, 18, 14]

num = 4

if num * 2 in doubles:
    print("The double exists")
else:
    print("It's not here")

The double exists

In [71]:
doubles = [1, 2, 5, 8, 6, 20, 18, 14]

num = 4

for numbers in doubles:
    if numbers == num * 2:
        print(numbers, "Yay, a double")
    else:
        print("Boo, not a double")

Boo, not a double
Boo, not a double
Boo, not a double
8 Yay, a double
Boo, not a double
Boo, not a double
Boo, not a double
Boo, not a double

##### 'not in' keyword

In [72]:
rangers = ["Chris", "Tyler", "Tarun", "Alex", "Kathy"]

name = "Phyllis"

if name not in rangers:
    print(name, "is not a ranger")

Phyllis is not a ranger

##### Checking an Empty List

In [73]:
our_list = []

if our_list == []:
    print("This list is empty")

This list is empty

##### Removing Instances with a Loop

In [76]:
# while, remove
rangers = ["Chris", "Tyler", "Tarun", "Alex", "Kathy"]

while "Tyler" in rangers:
    rangers.remove("Tyler")
print(rangers)

for name in rangers:
    if name == "Kathy":
        rangers.remove(name)
print(rangers)        

rangers = ["Chris", "Chris", "Chris", "Tyler", "Tarun", "Chris", "Alex", "Kathy"]

while "Chris" in rangers:
    rangers.remove("Chris")
print(rangers)

['Chris', 'Tarun', 'Alex', 'Kathy']
['Chris', 'Tarun', 'Alex']
['Tyler', 'Tarun', 'Alex', 'Kathy']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [86]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

# new_names = []
# for name in names:
#     while name not in new_names:
#         new_names.append(name)
# print(new_names)

new_names = []
for name in names:
    if name not in new_names:
        new_names.append(name)
print(new_names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [91]:
# number comprehension
# with a regular for loop

nums = []

for i in range(100):
    nums.append(i)
print(nums)

print("\n")

# list comprehension syntax
num_comp = [i for i in range(100)]
print(num_comp)

print("\n")

print([i for i in range(100)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]


[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]


[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [93]:
# squared numbers comprehension
# [variable, transform, condition]
my_list = [2, 4, 6, 8, 10]

squares = [x**2 for x in my_list]
print(squares)

squares2 = [x**2 for x in range(10)]
print(squares2)

[4, 16, 36, 64, 100]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [94]:
names = ["Legolas", "Frodo", "Aragorn", "Gimli", "Gandalf", "Pippin"]

first_letter = [name[0] for name in names]
print(first_letter)

['L', 'F', 'A', 'G', 'G', 'P']

In [95]:
names = ["Legolas", "Frodo", "Aragorn", "Gimli", "Gandalf", "Pippin"]

g_names = [name for name in names if name[0] == "G"]
print(g_names)

['Gimli', 'Gandalf']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [103]:
tup_1 = 1, 2, 3 # first way of creating a tuple
tup_2 = (1, 2, 3) # second way of creating a tuple

print(type(tup_1))
print(type(tup_2))

print(len(tup_1))

print("\n")

# looping over a tuple
for number in tup_1:
    print(number)

print("\n")

# looping over a tuple with an index
for x in range(len(tup_1)):
    print(tup_1[x])

<class 'tuple'>
<class 'tuple'>
3


1
2
3


1
2
3

##### sorted()

In [111]:
tup_3 = (20, 6, 19, 11, 5, 3, 1, 43)

sorted_tup = sorted(tup_3)
print(tup_3)
print(sorted_tup) #<-- sorted() converts to a list

# tup_3.sort() <-- invalid

random_list = [3, 4, 66, 77, 23]

combine_list = sorted_tup + random_list
print(combine_list)
print(type(combine_list))

(20, 6, 19, 11, 5, 3, 1, 43)
[1, 3, 5, 6, 11, 19, 20, 43]
[1, 3, 5, 6, 11, 19, 20, 43, 3, 4, 66, 77, 23]
<class 'list'>

In [116]:
Special

In [112]:
import random
from time import sleep

class_list = ['Perry', 'Cassie', 'Dyonne', 'Aften', 'Chris', 'Kathy',' Steve','Raul', 'Tarun', 'Tyler','Katie', 'Kelsey', 'Teddie']

for z in range(5):
    print('.', end=' ', flush=True)
    sleep(0.5)
print(random.choice(class_list))

. . . . . Cassie

##### Adding values to a Tuple

In [113]:
tup_2 = (1, 2, 3)

tup_2 = tup_2 + (5,)
print(tup_2)

(1, 2, 3, 5)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [118]:
# extra: (1) using a for loop and (2) using a list comprehension
alist = [1,11,14,5,8,9]

# using a for loop
filtered_list = []
for num in alist:
    if num < 10:
        filtered_list.append(num)
print(filtered_list)

# using a list comprehension
print([num_comp for num_comp in alist if num_comp < 10])

[1, 5, 8, 9]
[1, 5, 8, 9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [1]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

merged_sorted_list = l_1 + l_2
merged_sorted_list.sort()
print(merged_sorted_list)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]